@media (min-width: 1920px) {
	.container {
		width: 60%;
		margin: 0 auto;
	}
}
@media (min-width: 1440px) {
	.container {
		width: 80%;
		margin: 0 auto;
	}
}
@media (max-width: 1366px) {
	.container {
		width: 80%;
		margin: 0 auto;
	}
}
@media (max-width: 1200px) {
	.container {
		width: 80%;
		margin: 0 auto;
	}
}
@media (max-width: 992px) {
	.container {
		width: 80%;
		margin: 0 auto;
	}
}
@media (max-width: 768px) {
	/* Kodlar shu yerga */
}
@media (max-width: 576px) {
	/* Kodlar shu yerga */
}

@media (max-width: 480px) {
	/* Kodlar shu yerga */
}
@media (max-width: 390px) {
	/* Kodlar shu yerga */
}
