@media (max-width: 1920px) {
	.mobileMenu .openBtn {
		display: none;
	}
	.container {
		width: 60%;
		margin: 0 auto;
	}
	.phoneIcon {
		display: none;
	}
	.mobileHeader .phoneIcon {
		display: block;
	}
}
@media (max-width: 1700px) {
	.container {
		width: 75%;
		margin: 0 auto;
	}
}
@media (max-width: 1440px) {
	.container {
		width: 80%;
		margin: 0 auto;
	}
}
@media (max-width: 1366px) {
	.container {
		width: 80%;
		margin: 0 auto;
	}
	.sectionTitle {
		font-size: 48px;
	}
	.sectionTitle span.rotated-text {
		font-size: 48px;
	}
	.animationLineSecond {
		margin-top: -36px;
	}
	.animationLineSecond .firstLine .item {
		font-size: 14px;
	}
	.animationLineFirts .firstLine .item {
		font-size: 14px;
	}
	header .header .logoNavbar {
		flex: 0 0 70%;
	}
	header .header .logoNavbar .nav ul li a {
		font-size: 14px;
	}
	header .header .contact .numberPhone a {
		padding: 15px 10px;
		font-size: 14px;
	}
	header .header .contact .socialNetworks ul li {
		margin-right: 5px;
	}
	header .header .contact .socialNetworks ul li:last-child {
		margin-right: 0;
	}
	.mobileMenu .openBtn {
		display: none;
	}

	/* banner section responsive start */
	.banner .swiper-slide img {
		width: 100%;
		object-fit: cover;
		height: 100%;
	}
	.banner .container {
		width: 80%;
		margin-left: 10%;
		position: absolute;
		top: 193px;
		left: 0;
		z-index: 998;
	}
	.banner .container .bannerTitle h2 {
		font-size: 48px;
	}
	.banner .container .bannerTitle p {
		font-size: 24px;
	}
	.banner .container .bannerCard .cartTitle {
		font-size: 18px;
	}
	.banner .container .bannerCard ul li {
		font-size: 14px;
	}
	.banner .container .bannerCard .cardBtn a {
		font-size: 14px;
		padding: 10px 15px;
	}
	/* banner section responsive end */

	/* AboutUs section responsive start  */
	.aboutUs::after {
		top: 160px;
	}
	.aboutUs::before {
		top: 170px;
	}
	.aboutUs .aboutCard .cardItem .cardTitile {
		font-size: 16px;
	}
	.aboutUs .aboutCard .cardItem p {
		font-size: 14px;
	}
	.aboutUs .resultIndicator .indecatorItem .icrNumber {
		font-size: 28px;
	}
	.aboutUs .resultIndicator .indecatorItem .icrInfo {
		font-size: 14px;
	}
	/* AboutUs section responsive end  */

	/* services section responsive start  */
	.services .info {
		font-size: 28px;
	}
	.services .contents .content .contentTitleImg .title {
		font-size: 18px;
	}
	.services .contents .content .contentTitleImg .img img {
		width: 80%;
	}
	.services .contents .content ul.list li {
		font-size: 14px;
	}
	/* services section responsive end  */

	/* category section responsiv start */
	.category .categories {
		gap: 10px;
	}
	.category .categories .item {
		flex: 0 0 19%;
	}
	.category .categories .item .title {
		font-size: 14px;
	}
	.category .categories .item .itemInfo {
		font-size: 12px;
	}

	/* category section responsive end  */

	/* sorting section responsive start  */
	.sorting .info {
		font-size: 24px;
	}
	.sorting .tabs .tabBtn {
		font-size: 14px;
	}
	.sorting .tabContents .item .priceInfoBtn .cardbtn {
		flex: 0 0 33%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
	.sorting .tabContents .item .priceInfoBtn .img {
		flex: 0 0 30%;
	}
	.sorting .tabContents .item .priceInfoBtn .img img {
		width: 100%;
		object-fit: cover;
	}
	.cardbtn a {
		font-size: 14px;
		padding: 15px 20px;
	}
	.sorting .tabContents .item .imgInfoPage .contentInfo .title {
		font-size: 24px;
	}
	.sorting .tabContents .item .priceInfoBtn .priceInfo {
		font-size: 28px;
		flex: 0 0 33%;
	}
	.sorting .tabContents .item .imgInfoPage .contentInfo ul li {
		font-size: 14px;
	}
	.sorting .tabContents .item .priceInfoBtn .img {
		flex: 0 0 25%;
		width: 80%;
	}
}
@media (max-width: 1200px) {
	.container {
		width: 90%;
		margin: 0 auto;
	}
	header .header .contact .numberPhone a {
		margin-left: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 5px;
		width: 34px;
		height: 34px;
		border-radius: 50%;
	}
	header .phoneIcon {
		display: block;
	}
	header .number {
		display: none;
	}
	header .header .contact .socialNetworks ul {
		align-items: stretch;
	}
	header .header .contact .socialNetworks ul li {
		margin-right: 10px;
	}
	header .header .contact .socialNetworks ul li:nth-child(2) a {
		width: 34px;
		height: 34px;
	}
	header .header .contact .socialNetworks ul li img {
		width: 34px;
		height: 34px;
	}

	.banner .container .slogan {
		font-size: 30px;
	}
	header .header .logoNavbar {
		flex: 0 0 80%;
	}
	header .header .logoNavbar .logo {
		flex: 0 0 5%;
	}
	.category .categories .item {
		flex: 0 0 22%;
	}
}
@media (max-width: 992px) {
	.container {
		width: 80%;
		margin: 0 auto;
	}
	.sectionTitle {
		font-size: 36px;
	}

	header .header .logoNavbar {
		flex: 0 0 30%;
	}
	header .header .logoNavbar .nav {
		display: none;
	}
	header .mobileMenu .openBtn {
		padding: 5px;
		width: 34px;
		height: 34px;
		border-radius: 50%;
		background: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 15px;
	}
	header .phoneIcon {
		display: none;
	}
	header .number {
		display: block;
	}
	header .header .contact .numberPhone a {
		width: 243px;
		height: 34px;
		border-radius: 60px;
	}
	.aboutUs .aboutCard {
		flex-wrap: wrap;
	}
	.aboutUs .aboutCard .cardItem {
		flex: 0 0 100%;
		height: auto;
	}
	.aboutUs .aboutCard .cardItem:nth-child(2) {
		height: 376px;
		flex: 0 0 100%;
	}
	.services .contents .content {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.services .contents .content:nth-child(2),
	.services .contents .content:nth-child(6) {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.services .contents .content:nth-child(3) {
		order: 4;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.services .contents .content:nth-child(4) {
		order: 3;
	}
	.category .categories .item {
		flex: 0 0 30%;
	}
	.gallerySection .gallery img {
		border-radius: 30px;
	}
	.contactPage .form .sectionTitle {
		font-size: 24px;
	}
	.contactPage .form form .formInfoInputs {
		flex-wrap: wrap;
	}
	.contactPage .form form .formInfoInputs input {
		flex: 0 0 48%;
		max-width: 100%;
	}
	.contactPage .form form .formInfoInputs input:nth-child(1) {
		margin-bottom: 20px;
	}
	.contactPage .form form .formInfoInputs input:nth-child(2) {
		margin-bottom: 20px;
	}
	.contactPage .form form .custom-select {
		flex: 0 0 48%;
		max-width: 100%;
	}
	.contactPage .form form .select-trigger {
		max-width: 100%;
	}
	.contactPage .form form .btnCheck .formBtn {
		font-size: 14px;
	}
}
@media (max-width: 768px) {
	.container {
		width: 90%;
	}
	.sectionTitle {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		font-size: 36px;
	}
	.sectionTitle span.rotated-text {
		font-size: 36px;
	}
	header {
		padding: 10px 20px;
	}
	header .header .logoNavbar .nav {
		display: none;
	}
	header .mobileMenu .openBtn {
		padding: 5px;
		width: 34px;
		height: 34px;
		border-radius: 50%;
		background: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 15px;
	}
	header .logo {
		width: 65px;
		height: 65px;
		border-radius: 50%;
		background: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px;
	}
	header .logo img {
		width: 55px;
		height: 55px;
		object-fit: cover;
	}
	header .header .logoNavbar {
		flex: 0 0 24.5%;
	}
	header .header .contact .socialNetworks ul {
		align-items: stretch;
	}
	header .header .contact .socialNetworks ul li {
		margin-right: 10px;
	}
	header .header .contact .socialNetworks ul li:nth-child(2) a {
		width: 34px;
		height: 34px;
	}
	header .header .contact .socialNetworks ul li img {
		width: 34px;
		height: 34px;
	}
	header .header .contact .numberPhone a {
		margin-left: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 5px;
		width: 34px;
		height: 34px;
		border-radius: 50%;
	}
	header .header .contact .numberPhone a .number {
		display: none;
	}
	header .phoneIcon {
		display: block;
	}
	.banner {
		height: 120vh;
		overflow: hidden;
	}
	.banner .container {
		width: 90%;
		position: absolute;
		top: 110px;
		left: -20px;
	}
	.banner .container .bannerTitle h2 {
		font-size: 30px;
	}
	.banner .container .bannerTitle p {
		font-size: 20px;
	}
	.banner .container .bannerCard {
		width: 100%;
	}
	.banner .container .bannerCard {
		padding: 20px;
	}
	.banner .container .bannerCard .cartTitle {
		font-size: 20px;
	}
	.banner .container .bannerCard ul li {
		font-style: normal;
		font-weight: 500;
		line-height: 120%;
		font-size: 16px;
	}

	.banner .container .slogan {
		font-size: 20px;
		bottom: -60px;
	}
	.banner .swiper.bannerSlider .paginationSlider .swiper-pagination {
		width: 150px;
	}
	.banner .swiper.bannerSlider .paginationSlider {
		width: 100%;
		z-index: 9999;
		position: absolute;
		bottom: 180px;
		left: 5%;
	}
	.banner .swiper.bannerSlider .paginationSlider .swiper-button-next {
		transform: translate(280px, -40px);
	}
	.aboutUs {
		padding-top: 40px;
	}
	.aboutUs .resultIndicator {
		flex-wrap: wrap;
		border-radius: 30px;
	}
	.aboutUs .resultIndicator .indecatorItem {
		height: 100px;
		border-bottom: 1px solid var(--lasure, #00c9c5);
		flex: 0 0 48%;
		border-right: none;
	}
	.aboutUs .resultIndicator .indecatorItem:nth-child(3),
	.aboutUs .resultIndicator .indecatorItem:nth-child(4) {
		border-bottom: none;
	}
	.aboutUs .aboutCard .cardItem {
		border-radius: 30px;
	}
	.services::before {
		height: 27px;
		bottom: -25px;
	}
	.services::after {
		height: 27px;
		top: -25px;
	}
	.services .contents .content.show {
		border-radius: 30px;
	}
	.category::before {
		top: 170px;
	}
	.category::after {
		top: 165px;
	}
	.category {
		padding: 50px 0;
	}
	.category .categories .item {
		overflow: hidden;
		padding: 15px;
		flex: 0 0 48%;
		border-radius: 30px;
	}
	.category .categories .item img {
		width: 54px;
		height: 54px;
	}
	.sorting::after {
		height: 27px;
		top: -25px;
	}
	.sorting::before {
		height: 27px;
		bottom: -25px;
	}
	.sorting .tabs {
		flex-wrap: wrap;
	}
	.sorting .tabs .tabBtn {
		flex: 0 0 48%;
	}
	.sorting .tabContents .item .imgInfoPage {
		flex-direction: column;
	}
	.sorting .tabContents .item .imgInfoPage .contentImg {
		order: 2;
		flex: 0 0 100%;
		width: 100%;
		margin-top: 25px;
	}
	.sorting .tabContents .item .priceInfoBtn .img {
		display: none;
	}
	.sorting .tabContents .item .priceInfoBtn .priceInfo {
		flex: 0 0 48%;
	}

	.sorting .tabContents .item .priceInfoBtn .cardBtn {
		flex: 0 0 48%;
	}
	.sorting .tabContents .item .priceInfoBtn .cardbtn {
		flex: 0 0 48%;
	}
	.contactPage .form form .formInfoInputs {
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: stretch;
	}
	.contactPage .form form .formInfoInputs input {
		margin-bottom: 15px;
		flex: 0 0 45%;
	}
	.contactPage .form form .select-trigger {
		flex: 0 0 45%;
		max-width: 246.6px;
	}
	.contactPage .form form .custom-select {
		position: relative;
		font-family: sans-serif;
	}
	.contactPage .form form .btnCheck {
		flex-direction: column;
	}
	.contactPage .form form .btnCheck .formBtn {
		flex: 0 0 100%;
		max-width: 100%;
		margin-bottom: 20px;
	}
	.contactPage .form form .btnCheck .checkbox {
		flex: 0 0 100%;
	}
	.contactPage .form .sectionTitle h2 {
		color: var(--white, #fff);
		text-align: center;
		font-variant-numeric: lining-nums proportional-nums;
		font-family: Montserrat;
		font-size: 24px;
		font-style: normal;
		font-weight: 800;
		line-height: normal;
	}
	.contactPage .form .sectionTitle span.rotate-text {
		color: var(--white, #fff);
		text-align: center;
		font-variant-numeric: lining-nums proportional-nums;
		font-family: Montserrat;
		font-size: 24px;
		font-style: normal;
		font-weight: 800;
		line-height: normal;
		margin-top: 10px;
	}
	.reviews .text {
		color: var(--coral, #fe4e05);
		text-align: center;
		font-variant-numeric: lining-nums proportional-nums;
		font-family: Montserrat;
		font-size: 15px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}
	.reviews .ratingIndicator {
		flex-wrap: wrap;
	}
	.reviews .ratingIndicator .ratingItem {
		margin-bottom: 10px;
		flex: 0 0 100%;
	}
	.teachers::after {
		height: 27px;
		top: -26px;
	}
	.teachers .sectionTitle span.rotate-text {
		color: var(--white, #fff);
		text-align: center;
		font-variant-numeric: lining-nums proportional-nums;
		font-family: Montserrat;
		font-size: 30px;
		font-style: normal;
		font-weight: 800;
		line-height: normal;
	}
	.gallerySection::after {
		top: 110px;
	}
	.gallerySection::before {
		top: 120px;
	}
	.faqContent .sectionTitle {
		color: var(--seablue, #0071bf);
		font-variant-numeric: lining-nums proportional-nums;
		font-family: Montserrat;
		font-size: 30px;
		font-style: normal;
		font-weight: 800;
		line-height: normal;
	}
	.faqContent {
		padding: 62px 0 53px 0;
	}
	.faqContent .faqItems {
		max-width: 100%;
		gap: 10px;
		padding-bottom: 0;
		overflow: hidden;
	}
	.faqContent .faq-header h3 {
		font-size: 14px;
	}
	.faqContent .faq-item {
		border-radius: 20px;
	}
	.vacancy .vacancyContent {
		flex-direction: column;
	}
	.vacancy::after {
		height: 27px;
		bottom: -25px;
	}
	.vacancy::before {
		height: 27px;
		top: -25px;
	}
	.gallerySection .gallery {
		grid-template-columns: repeat(2, 1fr);
	}
	.gallerySection .gallery a {
		border-radius: 20px;
	}
	.gallerySection .gallery .glightbox.lastChild {
		display: block;
	}
	.faqContent .faq-item.active .faq-header {
		border-radius: 20px;
	}
	.networks .networksContent {
		flex-direction: column;
	}
	.networks .sectionTitle {
		font-size: 30px;
	}
	.map {
		padding-top: 50px;
	}
	footer {
		padding-top: 20px;
	}
	footer .footerContact {
		flex-direction: column;
	}
	footer .footerContact .number a {
		font-size: 24px;
	}
	footer .footerContact .socialNetworks {
		margin-top: 10px;
	}
	footer .footerContact .logo {
		width: 72px;
		height: 72px;
	}
	footer::before {
		height: 27px;
		top: -26px;
	}
	footer .siteInfo {
		flex-direction: column;
	}
	footer .siteInfo .siteInfo {
		margin-bottom: 10px;
	}
	.contactPage .form {
		padding: 20px;
	}
}
@media (max-width: 576px) {
	.sectionTitle {
		font-size: 24px;
	}
	.sectionTitle span.rotated-text {
		font-size: 24px;
	}
	.sorting .tabContents {
		margin-top: 20px;
	}
	.contactPage .form form .formInfoInputs input {
		z-index: 99;
		flex: 0 0 100%;
	}
	.contactPage .form form .custom-select {
		flex: 0 0 100%;
	}
	.contactPage .form form .select-trigger {
		position: relative;
		z-index: 9999;
		max-width: 100%;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
	}
	.contactPage .form form .custom-select.active .select-options {
		width: 100%;
		padding-top: 50px;
		z-index: 1;
		top: 0px;
		max-width: 381.6px;
	}
	.faqContent .faqItems {
		flex-wrap: wrap;
	}
	.faqContent .faqItems .leftContent {
		flex: 0 0 100%;
	}
	.faqContent .faqItems .rightContent {
		flex: 0 0 100%;
	}
}

@media (max-width: 480px) {
	.sectionTitle span.rotated-text {
		font-size: 36px;
		display: inline-block;
	}
	.wrapper .mobileMenuSection .mobileHeader .contact .socialNetworks ul li {
		margin-right: 5px;
	}
	.wrapper .mobileMenuSection .container {
		max-width: 95%;
	}
	.wrapper .mobileMenuSection {
		padding: 20px;
	}
	.wrapper .mobileMenuSection .mobileHeader {
		padding: 5px 10px;
	}
}
@media (max-width: 390px) {
}
